
*{
  margin: 0;
  padding: 0;
  //background-color: $white;
  color: $black;
  line-height: 160%;
  list-style: none;
  font-family: "Pretendard Variable", sans-serif;
  text-decoration-line: none;
  //border-radius: 2px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body{
  height: 100%;
}

.wrapper{
  padding: 12.8rem 4rem;
}

.slide-wrapper{
  padding: 0 4rem;
}

@media only screen and (min-width: 2560px){
  html{
    font-size: 11px;
  }
}

@media only screen and (max-width: 1440px){
  html{
    font-size: 8px;
  }
}