
* {
  margin: 0;
  padding: 0;
  //background-color: $white;
  color: $black;
  line-height: 160%;
  list-style: none;
  font-family: "Pretendard Variable", sans-serif;
  text-decoration-line: none;
  //border-radius: 2px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //word-break: keep-all;
}

a[href^="tel"],
a[href^="mailto"],
a[href^="sms"] {
  color: inherit;
  text-decoration: none;
}


html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 2560px) {
  html {
    font-size: 12px;
  }
}


@media only screen and (max-width: 1536px) {
  html {
    font-size: 9px;
  }
}


body {
  height: 100%;
}

.wrapper {
  padding: 12.8rem 4rem;
}

.wrapper8 {
  padding: 6.4rem 4rem;
}

.slide-wrapper {
  padding: 0 4rem;
}

.br-show-mobile {
  display: none;
}

.gray-bg {
  background-color: $grayBackground;
}

@media only screen and (max-width: 430px) {
  .br-show-mobile {
    display: block;
  }
}


@media only screen and (max-width: 430px) {
  .wrapper {
    padding: 8rem 2rem;
  }

  .slide-wrapper {
    padding: 0;
    border-radius: 0;
  }
}

