
* {
  margin: 0;
  padding: 0;
  //background-color: $white;
  color: $black;
  line-height: 160%;
  list-style: none;
  font-family: "Pretendard Variable", sans-serif;
  text-decoration-line: none;
  //border-radius: 2px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //word-break: keep-all;
}

a[href^="tel"],
a[href^="mailto"],
a[href^="sms"] {
  color: inherit;
  text-decoration: none;
}


html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 2560px) {
  html {
    font-size: 12px;
  }
}


@media only screen and (max-width: 1536px) {
  html {
    font-size: 9px;
  }
}


body {
  height: 100%;
}

.wrapper {
  padding: 12.8rem 4rem;
}

.wrapper8 {
  padding: 8rem 4rem;
}

.slide-wrapper {
  padding: 0 4rem;
}

.br-show-mobile {
  display: none;
}

.gray-bg {
  background-color: $grayBackground;
}

@media only screen and (max-width: 430px) {
  .br-show-mobile {
    display: block;
  }
}


@media only screen and (max-width: 430px) {
  .wrapper {
    padding: 8rem 2rem;
  }

  .slide-wrapper {
    padding: 0;
    border-radius: 0;
  }
}


.tossface {
  font-family: 'Tossface', sans-serif;
  transform: scale(0.8);
  display: inline-block;
}

.section-header {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto auto 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.section-header-cat {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;
}

.section-header-headline {
  font-size: 5.4rem;
  text-align: center;
  line-height: 130%;
  background: linear-gradient(to left, $sub, $black);
  -webkit-background-clip: text; /* 웹킷 기반 브라우저용 */
  -webkit-text-fill-color: transparent; /* 텍스트 색상을 배경으로 채움 */
}

@media only screen and (max-width: 1025px) {
  .section-header-headline {
    font-size: 4rem;
  }
  .section-header-cat {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .section-header-headline {
    font-size: 3rem;
  }
  .section-header-cat {
    font-size: 1.6rem;
  }
}

.section-direct-btn {
  background-color: $primary;
  padding: 0.9rem 2.1rem;
  border-radius: 999px;
  font-size: 1.7rem;
  display: inline-flex;
  align-items: center;
  transition: 0.3s all;

  &:hover {
    background-color: $primaryHover;
  }
}


// 보드 페이지네이션
.board-pagination {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 0.8rem;

  span, a {
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid $grayText;
  }

  .current {
    background-color: $primary;
  }
}


/*****************************************************************
donation-banner
각 사업소개 페이지에 있는 CTA 버튼의 기본 양식입니다.
******************************************************************/

.page-donation-banner {
  width: 100%;
  border-radius: 0.8rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.8rem;
  background: $white no-repeat center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.page-donation-banner-content h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 140%;
}

.page-donation-banner-content p {
  font-size: 2.4rem;
  font-weight: 700;
}

.page-donation-banner-button {
  padding: 1.2rem 2.1rem;
  background-color: $primary;
  width: fit-content;
  color: $black;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.4rem;

  &:hover {
    background-color: $primaryHover;
  }
}


.page-donation-banner-content-white {
  color: $white;
}

/*****************************************************************
각 페이지에 있는 수치 정보에 대한 기본 디자인입니다.
******************************************************************/
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  width: 100%;
  padding: 6.4rem 0;
}

.stats-item {
  text-align: center;
}

.stats-number {
  //font-family: "Red Rose", sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  letter-spacing: -3px;
  color: $sub;
  font-family: $reddit;
}

.stats-label {
  font-size: 2rem;
  color: $grayText;
}
