#domestic-page {
  padding-bottom: 12.8rem;
}

#domestic-page .section-header-headline {
  margin-bottom: 2.4rem;
}

.section-hero img {
  width: 100%;
  height: 64rem;
  object-fit: cover;
}

.domestic-container {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.domestic img {
  display: block;
  width: 100%;
  //max-width: $contentWidth;
  margin: auto;
  border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;
  aspect-ratio: 22 / 9;
  object-fit: cover;
}

.domestic-content {
  width: 100%;
  max-width: $contentWidth;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.domestic-excerpt {
  font-size: 2.2rem;
  font-weight: 500;
}

.domestic-excerpt strong {
  color: $sub;
}

.domestic-detail {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  gap: 2.4rem;
  padding: 2.4rem 0;
  border-top: 1px solid $grayLine;

  svg {
    flex-shrink: 0;
  }
}