/*******************************************************
후원 안내 페이지
********************************************************/

.donation-guide-header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .donation-guide-header-flex {
    background-color: $grayLight;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
  }
}


.donation-guide-header-item p:first-child {
  color: $sub;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 0.2rem;
}

.donation-guide-header-title {
  font-size: 4.8rem;
  line-height: 1;
  margin-bottom: 1.6rem;
}

.donation-guide-header-desc {
  font-size: 2rem;
}

.donation-grid {
  width: 100%;
  max-width: $contentWidth;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;

  img {
    margin: auto;
  }
}

.donation-grid-item {
  padding: 4rem;
  display: flex;
  align-items: start;
  gap: 5.6rem;
  border-top: 1px solid $grayLine;

  &:last-child {
    border-bottom: 1px solid $grayLine;
  }
}


.donation-grid-item-title {
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
  background: linear-gradient(to right, $sub, red);
  -webkit-background-clip: text; /* 웹킷 기반 브라우저용 */
  -webkit-text-fill-color: transparent; /* 텍스트 색상을 배경으로 채움 */
}

.donation-grid-item-desc {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
}

.donation-number {
  font-family: $reddit;
  font-size: 8rem;
  flex-shrink: 0;
  width: 10rem;
  line-height: 1;
  font-weight: 600;
  font-style: italic;
}


.donation-how-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  width: 100%;
  max-width: $contentWidth;
  margin: auto;


  .donation-grid-item {
    border: none;
    border-radius: 0.8rem;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    &:nth-child(3) {
      grid-column: 1 / 3;
    }

    &:nth-child(4) {
      grid-column: 1 / 3;
    }
  }

  .donation-grid-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .donation-grid-item-desc {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .donation-grid-item-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    margin-top: 4rem;
  }

  .donation-grid-item-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    p {
      font-size: 2rem;
      font-weight: 600;

      &:last-child {
        font-size: 1.4rem;
        color: $sub;
      }
    }
  }
}

.guide-section-bg {
  background-position: bottom right;
  background-repeat: no-repeat;
}

/*******************************************************
정기 후원 페이지
********************************************************/
.donation-container {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  .section-hero img {
    border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;
  }
}

.donation-content-container {
  width: 100%;
  max-width: $contentWidth;
  margin: auto;
}

.donation-intro-desc {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.donation-btn {
  background-color: $primary;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2.4rem 4.8rem 2.4rem 6.4rem;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  margin: auto;
  border-radius: 0.8rem;

  &:hover {
    background-color: $primaryHover;
  }
}

.donation-benefits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: $defaultWidth;
  margin: auto auto 12.4rem;
  gap: 4rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.8rem;
    aspect-ratio: 5 / 4;
  }
}

.donation-benefits-list-item {
  display: flex;
  gap: 2rem;
  padding: 2.4rem;
  border-top: 1px solid $grayLine;
}

.donation-benefits-list-item-title {
  font-size: 2rem;
}

.donation-benefits-list-item-desc {
  font-size: 1.6rem;
}

.donation-regular-banner {
  width: 100%;
  max-width: $contentWidth;
  margin: auto;

  .page-donation-banner-button {
    background-color: $sub;
    color: $white;
  }
}


/*******************************************************
일시 후원 페이지
********************************************************/
.singular-container {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.singular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  width: 100%;
}

.singular-grid-item {
  aspect-ratio: 1 / 1;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}