.gnb {
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  transition: 0.3s ease-in-out;
}

.newsletter-top-banner {
  color: $white;
  background-color: $sub;
  padding: 1.8rem 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
}

.gnb-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4rem;
  background-color: $white;
}


@media only screen and (max-width: 1536px) {
  .gnb-menu {
    padding: 1.6rem 4rem;
  }
}

@media only screen and (max-width: 425px) {
  .gnb-menu {
    padding: 1.6rem 2rem;
  }
}

// 중앙 메뉴
.gnb-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 144rem;
}


.gnb-nav-item {
  font-size: 2rem;
  padding: 0 2vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s all;
  cursor: pointer;

  &:last-child {
    gap: 0.8rem;
  }

  &:hover {
    color: $sub;

    .gnb-menu-dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 1536px) {
  .gnb-nav-item {
    padding: 0 3.2rem;
  }
}

#lifechildren-outlink svg {
  transition: 0.3s all;
}

#lifechildren-outlink:hover svg {
  transform: translate(0.3rem, -0.3rem);
}

// 서브메뉴
.gnb-menu-dropdown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 17rem;
  padding: 0.8rem 0;
  background-color: $white;
  border-radius: 0.8rem;
  box-shadow: rgba(14, 63, 126, 0.04) 0 0 0 1px, rgba(42, 51, 69, 0.04) 0 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0 6px 6px -3px, rgba(14, 63, 126, 0.04) 0 12px 12px -6px, rgba(14, 63, 126, 0.04) 0 24px 24px -12px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all;

  .menu-item a {
    font-size: 1.7rem;
    text-align: center;
    padding: 1.6rem 2.4rem;
    display: block;
    height: 100%;

    &:hover {
      background-color: $primary;
    }
  }
}

.gnb-logo img {
  height: 7rem;
}

@media only screen and (max-width: 768px) {
  .gnb-logo img {
    height: 5rem;
  }
}
.gnb-btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.gnb-btns img {
  height: 2rem;
}

.gnb-login, .gnb-donation {
  display: block;

  &:hover {
    color: $blackHover;
  }
}

.gnb-donation {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  background: $primary;
  border-radius: 2px 2px 2px 1em;
  font-weight: 700;
  color: $sub;
  transition: 0.3s all;
  line-height: 120%;

  &:hover {
    background-color: $primaryHover;
  }
}

.gnb-select-lang {
  position: relative;
  display: flex;
  display: none;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.lang-flag {
  width: 2rem;
  height: auto;
}

.lang-select {
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 0.8rem 0;
  background-color: $white;
  border-radius: 0.8rem;
  //box-shadow: rgba(14, 63, 126, 0.04) 0 0 0 1px, rgba(42, 51, 69, 0.04) 0 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0 6px 6px -3px, rgba(14, 63, 126, 0.04) 0 12px 12px -6px, rgba(14, 63, 126, 0.04) 0 24px 24px -12px;
  border: 1px solid $grayLine;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 999;
}

.lang-select.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.lang-select-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;

  &:hover {
    background-color: $primary;
  }
}


.gnb-btns .gnb-fullscreen-menu-btn {
  height: 3.2rem;
  cursor: pointer;
}


// Full Screen menu
.fullscreen-header {
  padding: 2.4rem;
  border-bottom: 1px solid $grayLine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullscreen-header .gnb-fullscreen-menu-btn {
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    transform: scale(0.8);
  }
}

.fullscreen-dimmed {
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
}


.fullscreen-dimmed.active {
  opacity: 1;
  visibility: visible;
}

.fullscreen-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  flex: 1;
  //height: 100%;
}

.fullscreen-grid-item {
  padding: 3.2rem;
  border-right: 1px solid $grayLine;
  transition: 0.3s ease-in-out;
  &:last-child{
    border-right: none;
  }
}

.fullscreen-item-heading {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.fullscreen-grid-item .menu li {
  font-size: 2rem;
  margin-bottom: 1rem;

  a:hover {
    color: $sub;
  }
}

@media only screen and (max-width: 1280px){
  .fullscreen-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
  .fullscreen-item-heading {
    font-size: 2.4rem;
    margin-bottom: 0;
  }

  .fullscreen-grid-item{
    display: flex;
    align-items: center;
    padding: 2.4rem 3.2rem;
    border-bottom: 1px solid $grayLine;
    border-right: none;
    h2{
      width: 100%;
      max-width: 12rem;
    }
    .menu{
      display: flex;
      gap: 1rem;
      justify-content: space-evenly;
      align-items: center;
      li{
        margin-bottom: 0;
        position: relative;
        &:after {
          content: " •";
        }

        &:last-child::after {
          content: "";
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){
  .fullscreen-grid-item .menu {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  .gnb-nav {
    display: none;
  }
  .gnb-select-lang, .gnb-login, .gnb-donation, .gnb-search-icon {
    display: none;
  }
}