// sections 1, slides
.slide-list {
  width: 100%;
  aspect-ratio: 16 / 6;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}

@media only screen and (max-width: 1025px) {
  .slide-list {
    aspect-ratio: 16 / 9;
  }
}

@media only screen and (max-width: 768px) {
  .slide-list {
    aspect-ratio: 4 / 3;
  }
}

@media only screen and (max-width: 425px) {
  .slide-list {
    aspect-ratio: 4 / 5;
    border-radius: 0
  }
}


.slide-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slide-item.active {
  opacity: 1;
  visibility: visible;
}

.slide-item-content {
  margin: auto;
  width: 100%;
  max-width: 151.2rem;
  transition: 0.8s ease-in-out;
  transform: translateY(6rem);
  opacity: 0;
  visibility: hidden;
}

.slide-item-content h2 {
  background-color: $primary;
  width: fit-content;
  padding: 0 1.6rem;
  font-size: 6.4rem;
  color: $sub;
  word-break: keep-all;
  font-weight: 800;
  margin-top: -1rem;

  &:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
  }

  &:last-of-type {
    margin-bottom: 1rem;
    border-radius: 0 0.4rem 0.4rem 1.6rem;

  }
}


.slide-item-content p {
  background-color: $white;
  font-size: 2rem;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem 0.4rem 0.4rem 1.6rem;
  font-weight: 600;
}


@media only screen and (max-width: 1920px) {
  .slide-item-content {
    padding: 0 4rem;
  }
}


@media only screen and (max-width: 1440px) {
  .slide-item-content {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 1025px) {
  .slide-item-content h2 {
    font-size: 4.8rem;
  }
  .slide-item-content p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 425px) {

  .slide-item-content {
    padding: 0 3.2rem;
    margin-bottom: 4rem;
  }

  .slide-item-content h2 {
    font-size: 3.2rem;
  }
  .slide-item-content p {
    font-size: 1.6rem;
  }

}

.slide-wrapper {
  position: relative;
}

.slide-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-top: 0.8rem;

  p {
    font-size: 1.4rem;
    color: $grayText;
  }

  .slide-navigation-numbers {
    font-family: $redrose;
  }
}

.slide-navigation-arrow svg {
  padding: 0.5rem;
  border: 1px solid $grayLine;
  cursor: pointer;

  &:hover {
    background-color: $primary;
  }
}

@media only screen and (max-width: 425px) {
  .slide-navigation-arrow svg {
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
  }
}


// section 2 - story


.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .news-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
    width: 100%;
    max-width: $defaultWidth;
    margin: auto;
  }
}

.news-item {
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;
    margin-bottom: 1.6rem;
  }
  &:hover h3{
    color: $sub;
  }
}

.news-item-heading {
  padding: 0 1.6rem;

  h3 {
    font-size: 2.4rem;
    transition: 0.3s all;
  }

  p {
    font-size: 2rem;
    color: $grayText;
  }
}

@media only screen and (max-width: 1025px) {
  .news-item-heading {

    h3 {
      font-size: 2.2rem;
      line-height: 140%;
      margin-bottom: 0.4rem;
    }

    p {
      font-size: 1.7rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .news-item-heading {
    padding: 0 1.4rem;

    h3 {
      font-size: 1.8rem;
      letter-spacing: -0.5px;
      line-height: 150%;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 130%;
    }
  }
}

// grouphome section
#grouphome-section {
  background-color: $grayLight;
}

.grouphome-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 12.8rem;
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.grouphome-header-headline {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  line-height: 140%;
  word-break: keep-all;
}

@media only screen and (max-width: 1440px) {
  .grouphome-header-headline {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 1025px) {
  .grouphome-wrapper {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .grouphome-header-headline {
    text-align: center;
    font-size: 4rem;
    background: linear-gradient(to left, $sub, $black);
    -webkit-background-clip: text; /* 웹킷 기반 브라우저용 */
    -webkit-text-fill-color: transparent; /* 텍스트 색상을 배경으로 채움 */
  }
  .grouphome-header > .section-direct-btn {
    display: flex;
    width: fit-content;
    justify-self: center;
    gap: 0.4rem;
    margin: auto;

    svg {
      width: 2rem;
    }
  }
}

.grouphome-news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}


.grouphome-news-item-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;

  h3 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .grouphome-news-item-heading {
    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 425px) {
  .grouphome-news-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
    padding: 0 4rem;
  }

  .grouphome-header-headline {
    text-align: center;
    font-size: 2.8rem;
  }

}


// slogan section

.slogan-wrapper {
  padding-bottom: 0;
}

#slogan-image {
  object-fit: cover;
  width: 100%;
  margin: auto;
  transform-origin: center top;
  //transition: 0.3s all;
  transition: transform 0.1s ease;
}

// index-business-section

.index-business-section {
  background-color: $grayLight;
}

.index-business-list {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}


.index-business-item {
  background-color: $white;
  border: 1px solid $grayLine;
  border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: 100%;
    height: 100%;
  }
}

.section-direct-btn {
  font-size: 1.5rem;
  gap: 0.8rem;
}

.index-business-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 100%;
  padding: 2.4rem;
  transition: 0.3s ease-in-out;
  transform: translateY(2.4rem);
}

.index-business-direct-btn {
  opacity: 0;
  visibility: hidden;
}

.index-business-item:hover {
  .index-business-item-content {
    transform: translateY(0);
  }

  .index-business-direct-btn {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 1025px) {
  .index-business-item-content {
    transform: translateY(0);
  }

  .index-business-direct-btn {
    opacity: 1;
    visibility: visible;
  }
}

.index-business-item-name {
  font-size: 3.2rem;
  font-weight: 600;
}

.index-business-item-desc {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 1025px) {
  .index-business-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
  .index-business-item {
    aspect-ratio: 16 / 9;
  }
  .index-business-item-content {
    flex: 1;
    margin-bottom: 0;

  }
}

@media only screen and (max-width: 820px) {
  .index-business-item {
    aspect-ratio: 1 / 1;
  }
}


@media only screen and (max-width: 425px) {
  .index-business-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .index-business-item {
    aspect-ratio: 16 / 9;
  }
  .index-business-item-content > svg {
    width: 4rem;
  }
  .index-business-item-name {
    font-size: 2.4rem;
  }
}

// donate-guide section
.donate-section-wrapper {
  padding-bottom: 0;
}

.donate-guide-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 425px) {
  .donate-guide-btns {
    grid-template-columns: 1fr;
  }
}

.donate-guide-btn {
  display: flex;
  align-items: end;
  aspect-ratio: 5 / 4;
  background: center no-repeat;
  background-size: cover;
  position: relative;
  padding: 3.2rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle, #00000000, #00000080);
    z-index: 2;
  }

  h3 {
    position: absolute;
    left: 3.2rem;
    bottom: 3.2rem;
    z-index: 5;
    color: $white;
    font-size: 4rem;
    line-height: 130%;
    transition: 0.3s ease;
  }

  &:hover h3 {
    bottom: 5rem;
  }
}

@media only screen and (max-width: 1025px) {
  .donate-guide-btn h3 {
    font-size: 3.2rem;
  }
}

// campaign-slides
#index-campaign-section {
  overflow-x: hidden;
}

.campaign-slides {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.campaign-slide-list {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  transition: 0.5s ease-in-out;
}

.campaign-slide-item {
  flex-shrink: 0;
  width: 48rem;
  height: 48rem;
  position: relative;
  background: center no-repeat;
  background-size: cover;
  border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;
  overflow: hidden;
  transition: 0.5s ease;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  a > h3 {
    position: absolute;
    left: 3.2rem;
    bottom: 2.4rem;
    color: $white;
    font-size: 3.2rem;
    z-index: 3;
    word-break: keep-all;
    line-height: 130%;
    transition: 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle, #00000000, #00000090);
    z-index: 2;
  }

  &:hover {
    transform: scale(1.02);
  }
}

@media only screen and (max-width: 1025px) {
  .campaign-slide-item {
    width: 32rem;
    height: 32rem;

    a > h3 {
      left: 2.4rem;
      font-size: 2.4rem;
    }
  }
}

.campaign-slide-btns svg {
  background-color: $grayLight;
  border-radius: 999px;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid $grayLine;

  &:first-child {
    margin-right: 0.8rem;
  }

  &:hover {
    background-color: $grayBackground;
  }
}


// notice-section

#notice-container {
  background-color: $grayLight;
}

.notice-list {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
  padding: 6.4rem;
  background-color: $white;
  border-radius: 0.8rem;
  border: 1px solid $grayLine;
}

.notice-item a {
  display: flex;
  padding: 1.6rem 3.2rem;
  gap: 2.4rem;
  align-items: center;

  &:hover {
    background-color: $grayLight;
    cursor: pointer;

    .notice-item-title, .notice-item-terms {
      color: $sub;
    }
  }

}

.notice-item-title {
  flex: 1;
  font-size: 2.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}


.notice-item-terms, .notice-item-time {
  flex-shrink: 0;

}

.notice-item-terms {
  background-color: $white;
  border: 1px solid $grayLine;
  border-radius: 0.8rem;
  padding: 2.4rem 2rem;
  font-size: 2.4rem;
}

.notice-item-time {
  font-size: 1.6rem;
  color: $grayText;
}

@media only screen and (max-width: 1025px) {
  .notice-list {
    padding: 3.2rem;
  }
  .notice-item-title {
    font-size: 2rem;
  }
  .notice-item a {
    padding: 1.6rem;
  }
  .notice-item-terms {
    padding: 1.6rem 1.4rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .notice-list {
    padding: 0.8rem;
  }
  .notice-item-title {
    font-size: 1.4rem;
  }
  .notice-item a {
    padding: 0.8rem;
    gap: 0.8rem;
  }
  .notice-item-terms {
    padding: 0.6rem 0.8rem;
    font-size: 1.4rem;
  }
  .notice-item-time {
    font-size: 1.2rem;
  }
}

