.wwa-headline {

}

.wwa-cover-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.8rem;
}

.wwa-vm-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: $defaultWidth;
  gap: 1.6rem;
  margin: auto auto 6.4rem;
}

.wwa-vm-item {
  width: 100%;
  aspect-ratio: 4/3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 4rem;
  gap: 1rem;
  border-radius: 0.4rem 0.4rem 0.4rem 2.4rem;

  h3 {
    font-size: 1.8rem;
    color: $white;
  }

  p {
    font-size: 3rem;
    line-height: 140%;
    color: $white;
    font-weight: 600;
  }
}


@media only screen and (max-width: 768px) {
  .wwa-vm-grid {
    grid-template-columns: 1fr;
  }
  .wwa-vm-item {
    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 2rem;
    }
  }
}


.wwa-desc {
  font-size: 1.9rem;
  text-align: center;
  line-height: 180%;
}

@media only screen and (max-width: 430px) {
  .wwa-desc {
    font-size: 1.5rem;
    letter-spacing: -0.1px;
  }
}

// 비전과 미션


// 행동가치
.wwa-value-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.wwa-value-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;

  h3 {
    font-size: 3.2rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
  }

  &:nth-child(1) {
    background-color: $primary;

    h3, p {
      color: $sub;
    }
  }

  &:nth-child(2) {
    background-color: $sub;

    h3, p {
      color: $white;
    }
  }

  &:nth-child(3) {
    background-color: $black;

    h3, p {
      color: $primary;
    }
  }

  &:nth-child(4) {
    background-color: $white;
  }

  .wwa-finance-btn {
    background-color: $white;
    width: fit-content;
    padding-right: 1.8rem;
  }
}


@media only screen and (max-width: 1025px) {
  .wwa-value-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wwa-value-grid-item {
    aspect-ratio: 4 / 3;
  }
}

//
@media only screen and (max-width: 768px) {
  .wwa-value-grid-item {
    aspect-ratio: 1 / 1;
  }
}

@media only screen and (max-width: 430px) {
  .wwa-value-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

// 인사말
.greeting-section {
  //background-color: $grayBackground;
}

.greeting {
  width: 100%;
  max-width: $singleWidth;
  margin: auto;

  p {
    font-size: 1.8rem;
  }
}

.greeting-img {
  width: 32rem;
  display: block;
  margin: auto auto 4.8rem;
}

.greeting-body {
  margin-bottom: 4rem;

  p {
    margin-bottom: 2rem;
  }
}

.greeting-signature {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2rem;

  p {
    font-size: 2rem;
    font-weight: 500;
  }

  img {
    width: auto;
    height: 4rem;
  }
}

@media only screen and (max-width: 430px) {
  .greeting {
    padding: 0 2rem;
  }
}

// 오시는 길
.location {
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

