.suggest-cover{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000090;
}

.suggest-form {
  display: block;
}

.suggest-container {
  position: relative;
  border-radius: 0.8rem;
  width: 100%;
  max-width: $singleWidth;
  margin: auto;
  padding: 5.6rem 3.2rem;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .section-header{
    margin-bottom: 2.4rem;
    gap: 0.4rem;
  }
  .section-header-headline{
    font-size: 4rem;
    margin-bottom: 0.8rem;
  }
  .section-header-cat{
    font-size: 1.8rem;
    color: $grayText;
  }
}

.suggest-desc {
  font-size: 2rem;
  line-height: 1.5;
  font-family: $reddit;
}

.form-item {
  margin-bottom: 1.8rem;
}

.form-item-labels {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  flex-shrink: 0;
}

.form-item-inputs {
  width: 100%;
  font-size: 1.8rem;
  padding: 0.8rem;
  outline: none;
}

#suggest-body {
  aspect-ratio: 16 / 9;
  resize: none;
}

.form-item-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.form-item-group p {
  font-size: 1.8rem;
  flex-shrink: 0;
  line-height: 1;
}


.form-item-privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 2rem;
}

.form-submit-button{
  width: 100%;
  font-size: 2rem;
  background-color: $primary;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem;
  cursor: pointer;
  font-weight: 700;
  &:hover{
    background-color: $primaryHover;
  }
}

/************************************************************
배분신청
*************************************************************/
