.wwa-wrapper{
  padding: 8rem 4rem;
}

.wwa-cover-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.8rem;
}

.wwa-vm-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: $defaultWidth;
  gap: 1.6rem;
  margin: auto auto 6.4rem;
}

.wwa-vm-item {
  aspect-ratio: 4/3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 4rem;
  gap: 1rem;
  border-radius: 0.4rem 0.4rem 0.4rem 2.4rem;

  h3 {
    font-size: 1.8rem;
    color: $white;
  }

  p {
    font-size: 3rem;
    line-height: 140%;
    color: $white;
    font-weight: 600;
  }
}

.wwa-desc {
  font-size: 1.9rem;
  text-align: center;
  line-height: 180%;
}
// 비전과 미션
.wwa-vision-mission{
  background-color: $grayBackground;
}
// 행동가치
.wwa-value-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  width: 100%;
  max-width: $defaultWidth;
  margin: auto;
}

.wwa-value-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.8rem 0.8rem 0.8rem 2.4rem;

  h3 {
    font-size: 3.2rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
  }

  &:nth-child(1) {
    background-color: $primary;

    h3, p {
      color: $sub;
    }
  }

  &:nth-child(2) {
    background-color: $sub;

    h3, p {
      color: $white;
    }
  }

  &:nth-child(3) {
    background-color: $black;

    h3, p {
      color: $primary;
    }
  }

  &:nth-child(4) {
    background-color: $grayBackground;
  }

  .wwa-finance-btn {
    background-color: $white;
    width: fit-content;
    padding-right: 1.8rem;
  }
}
// 인사말
.wwa-greeting-section{
  background-color: $grayBackground;
}
.wwa-greeting{
  width: 100%;
  max-width: 88rem;
  display: flex;
  gap: 1.8rem;
  margin: auto;
  p{
    font-size: 1.8rem;
  }
}


// 오시는 길
.wwa-location-section{
  background-color: $white;
}